/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
body {
    background-color: #96DED1 !important;
}

.calcoloUscitaOra {
    font-weight: bold;
    font-size: 45px;
}

.title-month {
    font-size: 40px;
    font-weight: bold;
}

.title-month-black {
    font-size: 40px;
    font-weight: bold;
    background-color: #768399;
    color: #f5f5f5;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.s2ui_error {
    background-color: salmon;
    color: white;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.custom-panel {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
    border: 2px solid #f3f5f6;
}

.custom-panel h3 {
    margin-top: 2px;
    margin-bottom: 8px;
    background-color: #f3f5f6;
    padding: 10px;
    margin: -10px;
}

.riepilogo-value {
    margin-top: -15px;
    font-weight: bold;
    font-size: 45px;
}

.riepilogo-label {
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 12px;
}

.circle {
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

.tooltip .top .in {
   top: -13px !important;
}



/* Pages Notifications plugin
--------------------------------------------------
*/
body.menu-pin > .pgn-wrapper[data-position$='-left'],
body.menu-pin > .pgn-wrapper[data-position="top"],
body.menu-pin > .pgn-wrapper[data-position="bottom"] {
    left: 250px;
}
.pgn-wrapper {
    position: fixed;
    z-index: 1000;
}
.pgn-wrapper[data-position$='-left'] {
    left: 30px;
}
.pgn-wrapper[data-position$='-right'] {
    right: 20px;
}
.pgn-wrapper[data-position^='top-'] {
    top: 20px;
}
.pgn-wrapper[data-position^='bottom-'] {
    bottom: 20px;
}
.pgn-wrapper[data-position='top'] {
    top: 0;
    left: 0;
    right: 0;
}
.pgn-wrapper[data-position='bottom'] {
    bottom: 0;
    left: 0;
    right: 0;
}
.pgn {
    position: relative;
    margin: 10px;
}
.pgn .alert {
    margin: 0;
}
/* Simple
------------------------------------
*/
.pgn-simple .alert {
    padding-top: 13px;
    padding-bottom: 13px;
    max-width: 500px;
    animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    max-height: 250px;
    overflow: hidden;
}
/* Bar
------------------------------------
*/
.pgn-bar {
    overflow: hidden;
    margin: 0;
}
.pgn-bar .alert {
    border-radius: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    max-height: 91px;
}
.pgn-wrapper[data-position='top'] .pgn-bar .alert {
    animation: slideInFromTop 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: slideInFromTop 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    transform-origin: top left;
    -webkit-transform-origin: top left;
}
.pgn-wrapper[data-position='bottom'] .pgn-bar .alert {
    animation: slideInFromBottom 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: slideInFromBottom 0.5s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    transform-origin: bottom left;
    -webkit-transform-origin: bottom left;
}
.pgn-bar .alert span {
    opacity: 0;
    animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
    -webkit-animation: fadeIn 0.3s cubic-bezier(0.05, 0.74, 0.27, 0.99) forwards;
}
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes slideInFromTop {
    0% {
        -webkit-transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes slideInFromBottom {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
/* Circle
------------------------------------
*/
.pgn-circle .alert {
    border-radius: 300px;
    animation: fadeInCircle 0.3s ease forwards, resizeCircle 0.3s 0.4s cubic-bezier(0.25, 0.25, 0.4, 1.6) forwards;
    -webkit-animation: fadeInCircle 0.3s ease forwards, resizeCircle 0.3s 0.4s cubic-bezier(0.25, 0.25, 0.4, 1.6) forwards;
    height: 60px;
    overflow: hidden;
    padding: 6px 55px 6px 6px;
    -webkit-transform: translateZ(0);
    position: relative;
}
.pgn-wrapper[data-position$='-right'] .pgn-circle .alert {
    float: right;
}
.pgn-wrapper[data-position$='-left'] .pgn-circle .alert {
    float: left;
}
.pgn-circle .alert > div > div.pgn-thumbnail > div {
    border-radius: 50%;
    overflow: hidden;
    width: 48px;
    height: 48px;
}
.pgn-circle .alert > div > div.pgn-thumbnail > div > img {
    width: 100%;
    height: 100%;
}
.pgn-circle .alert > div > div.pgn-message > div {
    opacity: 0;
    height: 47px;
    padding-left: 9px;
    animation: fadeIn .3s .5s ease forwards;
    -webkit-animation: fadeIn .3s .5s ease forwards;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    word-wrap: break-word;
}
.pgn-circle .alert > div > div.pgn-message > div p:only-child {
    padding: 12px 0;
}
.pgn-circle .alert .close {
    margin-top: -12px;
    position: absolute;
    right: 18px;
    top: 50%;
    opacity: 0;
    animation: fadeIn .3s .5s ease forwards;
    -webkit-animation: fadeIn .3s .5s ease forwards;
}
.pgn-circle .alert p {
    margin-bottom: 0;
}
.pgn-circle .alert > div {
    display: table;
    height: 100%;
}
.pgn-circle .alert > div > div {
    display: table-cell;
    vertical-align: middle;
}
@keyframes fadeInCircle {
    0% {
        opacity: 0;
        width: 60px;
    }
    100% {
        opacity: 1;
        width: 60px;
    }
}
@-webkit-keyframes fadeInCircle {
    0% {
        opacity: 0;
        width: 60px;
    }
    100% {
        opacity: 1;
        width: 60px;
    }
}
@keyframes resizeCircle {
    0% {
        width: 60px;
    }
    100% {
        width: 300px;
    }
}
@-webkit-keyframes resizeCircle {
    0% {
        width: 60px;
    }
    100% {
        width: 300px;
    }
}
/* Flip
------------------------------------
*/
.pgn-wrapper[data-position^='top-'] .pgn-flip {
    top: -30px;
}
.pgn-wrapper[data-position^='bottom-'] .pgn-flip {
    bottom: -30px;
}
.pgn-wrapper[data-position^='bottom-'] .pgn-flip .alert {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.pgn-flip .alert {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    box-shadow: 0 6px 4px -3px rgba(0, 0, 0, 0.2);
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    border-radius: 0;
    padding: 25px 35px;
    max-width: 500px;
    max-height: 250px;
    overflow: hidden;
}
@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transition-timing-function: ease-in;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        -webkit-transition-timing-function: ease-out;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        -webkit-transition-timing-function: ease-out;
    }
    100% {
        -webkit-transform: perspective(400px);
    }
}
@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Pages Notification customizations */
body > .pgn-wrapper[data-position="top"] {
    top: 60px;
    left: 70px;
}
body > .pgn-wrapper[data-position="bottom"] {
    left: 70px;
}
body > .pgn-wrapper[data-position$='-left'] {
    left: 90px;
    right: auto;
}
body > .pgn-wrapper[data-position^='top-'] {
    top: 80px;
    bottom: auto;
}
.pgn-circle .alert .close {
    margin-top: -11px;
}
body > .pgn-wrapper {
    z-index: 900;
}
@media (max-width: 979px) {
    body > .pgn-wrapper[data-position="top"] {
        left: 0;
    }
    body > .pgn-wrapper[data-position="bottom"] {
        left: 0;
    }
}
@media (max-width: 767px) {
    body > .pgn-wrapper[data-position$='-left'],
    body > .pgn-wrapper[data-position$='-right'] {
        left: 10px !important;
        right: 10px !important;
    }
    body > .pgn-wrapper[data-position$='-right'] .alert,
    body > .pgn-wrapper[data-position$='-left'] .alert {
        max-width: 100%;
        width: 100%;
    }
}

.record-oggi {
    background-color: #F5FFFA !important;
}

.box-riepilogo {
    background-color: #75B9E6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
}


.panel-marine {
    border-color: #48D1CC;
}
.panel-marine > .panel-heading {
    color: #ffffff;
    background-color: #48D1CC;
    border-color: #48D1CC;
}
.panel-marine > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #48D1CC;
}
.panel-marine > .panel-heading .badge {
    color: #48D1CC;
    background-color: #ffffff;
}
.panel-marine > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #48D1CC;
}
.panel-marine > .panel-heading {
    color: #ffffff;
    background-color: #48D1CC;
    border-color: #48D1CC;
}
.panel-marine > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #48D1CC;
}
.panel-marine > .panel-body {
    border: 1px solid #48D1CC;
    border-top: none;
}
.panel-marine > .panel-footer {
    color: #ffffff;
    background-color: #48D1CC;
    border-color: #48D1CC;
    border: 1px solid #48D1CC;
    border-top: none;
}
.panel-marine div.panel-body:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#todayDay {
    font-weight: bold;
    font-size: 23px;
    color: #a9a9a9;
}

#todayDate {
    font-weight: bold;
    font-size: 45px;
    margin-top: -40px;
}

.p-title {
    background-color: #32c8de;
    color: white;
    font-weight: bold;
    font-family: 'Paytone One', sans-serif;
    text-shadow: 1px 1px #000;
    font-size: 20px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: -10px -10px 10px -10px;
}

.panel {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.05) inset;
}

.ui-248 .item{
    margin:30px auto;
    max-width:320px;
    border-radius:4px;
    border:1px solid #e7e7e7;
    background:#fff;
    box-shadow:2px 2px 0px 1px rgba(0,0,0,0.07);
    position:relative;
}
.ui-248 .item .icon{
    position:absolute;
    width:60px;
    height:60px;
    line-height:40px;
    text-align:center;
    color:#fff;
    box-shadow:0px 0px 2px rgba(0,0,0,0.1);
    border-radius:100px;
    top:-25px;
    left:15px;
    font-size:30px;
    padding-top: 5px;
    border: 5px solid white;
}
.ui-248 .item h3{
    margin-top:20px;
    margin-left:80px;
    font-size:18px;
    line-height:24px;
    text-transform:uppercase;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}
.ui-248 .item h2{
    font-weight:400;
    margin-left:15px;
    font-size:35px;
    margin-bottom: 25px;
    margin-top: 15px;
}
.ui-248 .item h5{
    position:absolute;
    bottom:-2px;
    width:100%;
    background:#fafafa;
    padding:5px 0px;
    padding-left:15px;
    border-top:1px solid #eee;
    font-size:13px;
    text-transform:uppercase;
}
.ui-248 .item h5 span{
    float:right;
    padding-right:15px;
}

/* Background color classes */
.bg-white {
    background-color: #ffffff !important;
}
.bg-grey {
    background-color: #eeeeee !important;
}
.bg-black {
    background-color: #555555 !important;
}
.bg-red {
    background-color: #f75353 !important;
}
.bg-green {
    background-color: #51d466 !important;
}
.bg-lblue {
    background-color: #32c8de !important;
}
.bg-blue {
    background-color: #609cec !important;
}
.bg-orange {
    background-color: #f78153 !important;
}
.bg-yellow {
    background-color: #fcd419 !important;
}
.bg-purple {
    background-color: #cb79e6 !important;
}
.bg-rose {
    background-color: #ff61e7 !important;
}
.bg-brown {
    background-color: #d08166 !important;
}

.category-title-box-index {
    background-color: #32c8de !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    height: 35px;
    margin: -14px 5px 0px 5px;
}

.category-title-box-index h3 {
    padding-top: 7px;
}

.numberClass {
    font-family: 'Paytone One', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 10px;
}